<app-navbar></app-navbar>
<app-carrusel></app-carrusel>
<!--Eslogan y parrafo-->
<div>
    <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
      <h1 class="tituloeslogan  " >
          La red de talentos y proyectos
      </h1>
      <h1 class="tituloeslogan ">
          más confiable y efectiva
      </h1>

      <div class="parrafocontainer">
          <p class="parrafo1 ">
              Networkers facilita la conexion entre empresas y profesionales/expertos.
          </p>
          <p class="parrafo1  ">
              Negocios grandes y pequeños podran encontrar a las personas con las habilidades adecuadas para sus proyectos.
          </p>

      </div>

  </div>
  <div>
    <app-card1></app-card1>

  </div>

  <div>
    <app-banner-subscription></app-banner-subscription>
  </div>


<app-footer></app-footer>
