<div>
    <div class="d-flex justify-content-center">
        <div class="wsize border border-dark rounded">
            <div class="d-flex justify-content-center">
                <h3 class="newfont">Log In on Newtorkers</h3>
            </div>
            <div class="d-flex justify-content-center">
                <div>
                    <img class="logosize rounded-4" src="/assets/imgjairo/logonetworkers.png" alt="">
                </div>
            </div>

            <form #loginForm="ngForm">
              
            <div class="mb-3">
              <label for="exampleInputEmail" class="form-label newfont" >Email</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder="Name@email.com..." [ngModel]="this.userService.currentUser.email" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label newfont">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="this.userService.currentUser.password">
            </div>
          <div class="mb-3">
            <label class="form-check-label" for="exampleCheck1 newfont"><a href="">Did you forget your password?</a></label>
          </div>

            </form>

            <button type="submit" class="btn btn-warning newfont" (click)="this.login(loginForm)"> <i class="material-icons pe-2"></i>Sign Up</button>

            <!--Botones de redes sociales-->

            <div class="box">
                <div class="box-1">
                  <div class="red-social">
                    <a
                      target="_blank"
                      href="https://www.facebook.com/"
                      class="fa fa-facebook"
                    ></a>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/"
                      class="fa fa-instagram"
                    ></a>
                    <a
                      target="_blank"
                      href="https://twitter.com/"
                      class="fa fa-twitter"
                    ></a>
                    <a
                      target="_blank"
                      href="https://www.linkedin.com/"
                      class="fa fa-linkedin"
                    ></a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>