<div class="backcolor">
  <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
  <div class="d-flex justify-content-around flex-wrap">
      <div class="card m-3 border border-warning" style="width: 300px; height: 300px;">
          <div class="card-body backcolorcard d-flex justify-content-center align-items-center text-center">
            <h3 class="card-title newfont p-3">{{this.description1}}</h3>
          </div>
        </div>

        <div class="card m-3 border border-warning" style="width: 300px; height: 300px;">
          <div class="card-body backcolorcard d-flex justify-content-center align-items-center text-center">
            <h3 class=" card-title newfont p-3">{{this.description3}}</h3>
          </div>
        </div>

        <div class="card m-3 border border-warning" style="width: 300px; height: 300px;">
          <div class="card-body backcolorcard d-flex justify-content-center align-items-center text-center ">
            <h3 class="card-title newfont p-3">{{this.description3}}</h3>
          </div>
        </div>

  </div>

</div>

