<div>

    <div>
        <h1 class="tituloeslogan newfont">
            Ofrece tus servicios y habilidades y encuentra empresas o personas que esten interesados en contratarte. Mejora tus ingresos, aumenta tus oportunidades y trabaja desde la comodidad de tu hogar!
        </h1>

    </div>
    <div>
        <h1 class=" newfont subtitle">
            ¡Crea y ofrece tus servicios ahora en Networkers!
        </h1>
    </div>

    <!--Div del boton-->
    <div>
            <!--  Button trigger modal -->
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-warning newfont" data-bs-toggle="modal" data-bs-target="#staticBackdrop" *ngIf="this.userservice.isLoggedIn()">
                    Create
                  </button>

            </div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 newfont " id="staticBackdropLabel">Creating Service </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #servicesForm = "ngForm">
                <input type="hidden" id="_id" name="_id" [ngModel]="this.servicesService.currentServices._id">
                <!-- title: -->
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label newfont text-success">Service Title:</label>
                    <input type="text" class="form-control" id="title" placeholder="Design UX/UI" name="title" [ngModel]="this.servicesService.currentServices.title">
                  </div>
                <!-- price:  -->
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label newfont text-success">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="200.000" [ngModel]="this.servicesService.currentServices.price">
                  </div>
                <!-- description: -->
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label newfont text-success">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="5" placeholder=" I will Design a modern app UI and UX..." [ngModel]="this.servicesService.currentServices.description"></textarea>
                  </div>
               <!--  image:  -->
               <div class="mb-3">
                <label for="formFile" class="form-label newfont text-success">Image:</label>
                <input class="form-control" type="text" id="image" name="image" [ngModel]="this.servicesService.currentServices.image" placeholder="URL..">
              </div>
                <!-- keywords: -->
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label newfont text-success">Keywords:</label>
                    <input type="text" class="form-control" id="keywords" name="keywords" placeholder="App Design, Web Design.." [ngModel]="this.servicesService.currentServices.keywords">
                  </div>
               <!--  phoneNumber: -->
               <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label newfont text-success">Phone Number:</label>
                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="+1470500500" [ngModel]="this.servicesService.currentServices.phoneNumber">
              </div>
            </form>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="this.createService(servicesForm)"><i class="material-icons pe-2"></i>Save</button>
        </div>
      </div>
    </div>
  </div>
        
    </div>
</div>


<!--Get de los servicios colocados en tarjetas-->

<section>
  <div class="backcolorcards my-5 mx-3 rounded">
      <style> @import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap'); </style>
      <div class="d-flex justify-content-around flex-wrap">

          <div class="d-flex justify-content-around flex-wrap m-5">
              <div *ngFor="let service of this.servicesService.services.data" class="card border-dark text-white bg-light m-5" style="width: 18rem">
                  <img  src="{{ service.image }}" class="card-img-top" alt="..." />
                  <div class="card-body">
                      <h4 class="card-title text-dark newfont text-center m-3"> {{ service.title }}</h4>
                      <div class="p-1 card border-success" >
                        <p class="card-text text-dark newfont"> {{ service.description }}</p>
                      </div>
                      <div class="my-3 ">
                        <p class="card-text text-success newfont"> {{ service.keywords }}</p>
                      </div>
                      <div >
                        <h5 class=" newfont text-dark my-3"> <img class="imgllamada me-2" src="/assets/imgjairo/llamada.png" alt="">{{ service.phoneNumber}}</h5>
                      </div>
                      <div class="d-flex justify-content-end">
                        <h4 class=" card-title newfont text-dark">{{ service.price }} $ /hr.</h4>
                      </div>
                      <!-- <a href="#" class="btn btn-warning">Go somewhere</a> -->
                  </div>
              </div>
      </div>
      </div>
    
    </div>
</section>
  <!-- <app-card2></app-card2> -->

  <!-- BS Scrips -->
  <script src="/services/services.service.ts"></script>
  <script src="bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
  <script src="bootstrap-5.2.1-dist/js/bootstrap.min.js"></script>

